<!--Nav Bar-->
<div class="sticky">
    <div class="header">
        <div class="logo">
            <img src='{{"img/fscilogoheader.svg" | absURL }}' alt="fsci" />
            <h2>FSCI</h2>
        </div>
        <input type="checkbox" id="chk">
        <label for="chk" class="show-menu-btn" style="align-items:center;">
            <i class="fas fa-bars"></i>
        </label>
        <ul class="menu">
            <a href="/">Home</a>
            <!-- <a href='{{"about" | absURL}}'>About</a> -->
            <!-- <a onclick="document.querySelectorAll('.fa-times')[0].click()" href='{{"#poddery" | relLangURL }}'>{{ i18n "poddery" }}</a> -->

            <!-- Why you should support -->
            <a href="/blog/why-support">Why Support?</a>

            <!-- Contribute section -->
            <a onclick="document.querySelectorAll('.fa-times')[0].click()" href="/#Contribute">Contribute</a>


            <label for="chk" class="hide-menu-btn">
                <i class="fas fa-times"></i>
            </label>
        </ul>
    </div>
</div>
