{{define "main"}}
<main>
    <section id="home" class="presentation">

        <div class="introduction">
            <div class="intro-text">
              <!-- modified from -->
                <h1>FSCI's Jitsi Meet Campaign</h1>
                <p>Jitsi Meet is a fully encrypted, 100% Free Software video conferencing solution that you can use all day, every day, with no account needed.</p>
                
                <div style="position: relative; padding-bottom: 56.25%; margin-bottom: 1rem; height: 0; overflow: hidden;">
                    <iframe sandbox="allow-scripts allow-popups" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;"
                        src="https://video.blender.org/videos/embed/264ff760-803e-430e-8d81-15648e904183" frameborder="0" allowfullscreen>
                    </iframe>
                </div>            
            </div>
        </div>
    </section>
    <div class="circles">
        <img class="small-circle" src='{{"img/smallcircle.svg" | absURL}}' alt="" />
        <img class="big-circle" src='{{"img/bigcircle.svg" | absURL}}' alt="" />
        <img class="bigger-circle" src='{{"img/biggercircle.svg" | absURL}}' alt="" />
    </div>

    <section id="Contribute" class="services">
        <h1>Contribute</h1>
        <div class="other-services first">
            <div class="service-block">
                <!-- <img class="services-logo" src='{{"img/edit.svg" | absURL}}'> -->
                <h2>Account Details</h2>
                Name: Coming Soom <br>
                Account No: 1045011111111  <br>
                IFSC Code: ICIC1111111  <br>
                UPI ID: detail@upi
            </div>
        </div>
    </section>

    <section id="statements">
        <!-- <h1>Read, See in your Language</h1> -->
    <div class="statements-section">
        <div class="statement">
            <p class="shortSummary"> 
                Currently, our one on one personal chats and group meetings are conducted using “free = gratis” proprietary services like WhatsApp, Google Meet, Zoom, Microsoft Teams, Skype, etc. which collect and aggregate digital data and metadata.

It is therefore important to own our means of digital communications whether you are an individual or an organization. 

Jitsi is a secure, fully-featured video conferencing solution that can be used over mobile devices and desktop. 

This service, like others, from FSCI,. is set up and maintained by a group of volunteers who want to spread the message of software freedom to everyone while protecting their privacy.

If you are interested in using the service and the ideals behind running it, please contribute towards the crowdfunding campaign which covers the cost of running it on a server for 24 months.



            </p>
            <h3><a class="link" href="/blog/why-support">Read more</a><br></h3>
                      <!-- <small class="text-muted"></small> -->
                      <!-- <p>{{ .Summary }}</p> -->
        </div>
    </div>
    </section>

    <section id="Contribute" class="services">
    <h1>FSCI</h1>
    <div class="row">
        <!-- <div class="column" style="background-color:#aaa;"> -->
        <div class="column">
          <img src='{{"img/fsci.png" | absURL}}' alt="" style="width:200px;height:auto;"/>
        </div>
        <div class="column" style="background-color:#bbb;">
            <h2>FREE SOFTWARE COMMUNITY OF INDIA</h2>
          <!-- <h3><a href="https://fsci.in">Free Software Community of India</a> co-ordinates the Free Software related activities in India.</h3> -->
          <p> <h4>Free Software Community of India is a collective of Free Software users, advocates and developers. 
              <br>We maintain communication and collaboration infrastructure for everyone like <a class='rem-underline' href="https://poddery.com/">diaspora* pod </a> with Matrix and XMPP services, 
              <a class='rem-underline' href="https://git.fosscommunity.in/">git repository hosting </a> powered by 100% Free Software (GitLab Community Edition), <a class='rem-underline' href="https://lists.fsci.in/">mailing lists </a>, collabrative <a class='rem-underline' href="http://wiki.fsci.org.in/">wiki </a>amongst other services that respects their freedom and privacy.</p>
          </h4>
        </div>
      </div>
    </section>
</main>
{{end}}
